html {background-color: whitesmoke;}
h1 {color: whitesmoke;
	 text-align: right;}
p {color: whitesmoke;
	text-align: right;
	width: 200px;
	}
#logo {margin-left: 0;
		 margin-top: 0;
		 width: 200px;}
#barreRecherche{border-radius: 25px;
					 border : 5px solid #FF8000; 
					 position: absolute;
					 width: 500px;
					 margin-left: auto;
					 margin-right: 25%;
					 margin-top: 50px;
					 }
#img1{border-radius: 90px;
		width: 360px}
		
#interlude{
	background-color: #FF8000;
	width: 20%;
	margin-right: 0;
	border-radius: 50px;
	height: 100%;
	padding-top: 20px;
	position: relative;
}
		
.rond {
  display: inline-block;
  border: 2px solid orange;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

/* Bonus : keep aspect-ratio */ 
img {
  object-fit: cover;
  object-position: right center;
}

/* Bonus : effect on :hover */
img {
  transition: object-position .25s;
}
img:hover {
  object-position: center
}

/* Deco */
body {
  padding: 2em
}
