/*Mise en forme*/
#recherche{
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}

#barreRecherche{border-radius: 25px;
					 border : 5px solid #FF8000; 
					 width: 500px;
					 vertical-align: middle;
					 margin-right: 100px;
					 }
 
 #interlude{
	background-color: #FF8000;
	width: 20%;
	margin-right: -50px;
	margin-top: -250px;
	padding-right: 50px;
	border-radius: 50px;
	height: 100%;
	padding-top: 20px;
	float: right;
	color: whitesmoke;
}
 
 /*Style des images*/
.rond {
  display: inline-block;
  border: 2px solid orange;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

/* Bonus : keep aspect-ratio */ 
img {
  object-fit: cover;
  object-position: right center;
}

/* Bonus : effect on :hover */
img {
  transition: object-position .25s;
}
img:hover {
  object-position: center
}

/* Deco */
body {
  padding: 2em
}

#imagesAcc{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}