/*Fiche de style ajout-benevole*/
#Formulaire{
	width: 50em;
	margin-left: auto;
	margin-right: auto;
}
#Identite{
	width: 20em;
}
#Droit{
	font-size: 20px;
	width: 15em;
	float: right;
	margin-top: -10em;
}
#Valider{
	width: 20em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}
#selecteur{
	border-radius: 2em;
	width: 15em;
}