/*Fiche de style de benevole*/
*{
	border: solid red px;
}
#head{
	margin-left: auto;
	margin-right: auto;
	margin-top: -4.5em;
	padding: 0px;
	width: 35em;
	height: 4em;
}
#apercu{
	width: 20em;
	overflow-y: scroll;
	overflow-x:none;
	height:43em;
	float: right;
	margin-top: -610px;
	background-color: white;
}
tr{
	margin-top: 10px;
	border: solid green 2px;
	display: inline-block;
}
#barreRecherche{
	height: 3em;
	width: 22em;
	position: absolute;
	top: 0px;
	background-color: #3773C7;
	color: white;
	border-radius: 0.5em;
}

#ab{
	float: right;
}
#ac{
	float: left;
}
#ic{
	margin-top: 2em;
}
#donnee{
	width: 70%;
	height: 400px;
	background-color: #3773C7;
	margin-top: 2em;
	margin-left: 3em;
	border-radius: 3em;
}
#selection{
	width: 20%;
	height: 90%;

}