/*Fiche de style de benevole*/
*{
	border: solid red 2px;
}
#head{
	margin-left: auto;
	margin-right: auto;
	margin-top: -4em;
	width: 35em;
}
#ab{
	float: right;
}
#ac{
	float: left;
}
#ic{
	margin-left: auto;
	margin-right: auto;
}
#bd{
	width: 17.5em;
	float: right;
	margin-top: -4em;
	background-color: white;
}
ul{
	white-space: nowrap;
	overflow: scroll;
	padding: 0px;
	margin: 0px;
}
li{
	display: block;
}
#donnee{
	width: 65%;
	height: 400px;
	background-color: blue;
	margin-top: 5em;
	margin-left: 3em;
}
#selection{
	width: 20%;
	height: 60%;
}