#titre{
	color: #3B76C8;
}
#alert{
	color:  #f14f3b;
}
#Criteres{
	background-color: #3B76C8;
	width: 75%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.25em;
	padding: 2em;
	border-radius: 4em;
}
select{
	width: 20em;
	float: right;
}
#imagesAcc{
	height: 10em;
	width: 70%;
	margin-top: 1em;
}
/*Styles particuliers*/
#Races{
	overflow-y: scroll;
	width: 10em;
	height: 200px;
	padding: 1em;
	border-radius: 1em;
	background-color: whitesmoke;
	opacity: 0.7;
}
#Sexe{
	width: 5em;
	float: left;
	margin-left: 50em;
	margin-top: -10em;
}
#valider{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	opacity: 1;
}
.rond{
	margin-left: 10px;
}
#Couleur {
    overflow-y: scroll;
	width: 16em;
	height: 200px;
	padding: 1em;
	border-radius: 1em;
	background-color: whitesmoke;
	opacity: 0.7;
	float: left;
	margin-left: 21em;
	margin-top: -15em;
  }

  @media screen and (max-width: 400px)
{
#Criteres{
	width: 100%;
	border-radius: 0px;
}
#titre{
	color: #3B76C8;
	font-size: 3em;
}
#alert{
	color:  #f14f3b;
}

}

