/*Fiche style chien*/
.separation{
	margin-top: -6%;
}
.rond{
	float: right;
	width: 20em;
	height: 20em;
	margin-top: 1em;
	margin-right: 5em;
}
#chien{
	background-color: wheat;
	padding: 2em;
	width: 20em;
	border-radius: 1em;
	margin-left: 25em;
	margin-top: -3em;
}
#description{
	background-color: white;
	border-radius: 1em;
	padding: 1em;
	height: 10em;
	width: 15em;
	margin-left: 25em;
	margin-top: 5em;
}
#prix{
	float: right;
	font-size: 2em;
	background-color: #EB681F;
	padding: 5px;
	border-radius: 0.5em;
}
#sante{
	position: absolute;
	background-color: #3773C7;
	width: 20em;
	height: 10em;
	top : 26em;
	right: 2em;
	border-radius: 1em;
}
#vaccin{
	float: left;
	width: 7em;
	height: 8em;
	background-color: white;
	margin-left: 2em;
	margin-top: 1em;
	border-radius: 1em;
}
#malade{
	float: right;
	width: 7em;
	height: 8em;
	background-color: white;
	margin-right: 2em;
	margin-top: 1em;
	border-radius: 1em;
}
#social{
	position:absolute;
	width: 8em;
	height: 10em;
	top: 24em;
	right: 22em;
}
#titre{
	margin-top: -0.5em;
}