/*Mise en forme de home et critère(plus pertinent)*/
#recherche{
	margin-top: -6%;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
 #interlude{
 	border-radius: 0 5em 0 5em;
	background-color: #EB681F;
	width: 15%;
	height: 90%;
	padding-top: 20px;
	float: right;
	color: whitesmoke;
	margin-top: -3.5em;
}
#bouton{
	width: 4em;
	margin-top: 2em;
}
#imagesAcc{
	margin-top: 1em;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}
#valider{
	background-color: white;
}
#criteres{
	background-color: #EB681F;
	width: 40%;
	height: 3em;
	border-radius: 2em;
	border-style: none;
	margin-top: -4em;
	color: white;
	font-size: 1.25em;
}
.rond{
	margin-top: 1em;
	margin-left: 1em;
}