/*Mise en forme de home et critère(plus pertinent)*/
*{
	border : solid red 4px;
}
#recherche{
	margin-top: -5%;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
 
 #interlude{
 	border-radius: 0 5em 0 5em;
	background-color: #FF8000;
	width: 15%;
	height: 90%;
	padding-top: 20px;
	float: right;
	color: whitesmoke;
	margin-top: -8em;
}
#bouton{
	width: 4em;
	margin-top: 2em;
}
 
 /*Style des images*/
.rond {
	display: inline-block;
	border: 2px solid orange;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}

img {
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

/* Bonus : keep aspect-ratio */ 
img {
	object-fit: cover;
	object-position: right center;
}

/* Bonus : effect on :hover */
img {
	transition: object-position .25s;
}
img:hover {
	object-position: center
}

/* Deco */
#imagesAcc{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

#valider{
	background-color: white;
}