.chiens{
	height: 15em;
	width: 65em;
	float: right;
	background-color: #FDE9E0;
	margin-top: 1em;
	border-radius: 2em;
	margin-right: 2em;
}
.rond{
	margin-top: 2em;
	margin-left: 2em;
}
.prenom{
	margin-left: 12em;
	margin-top: -8em;
	font-size: 1.25em;
}
.age{
	position: relative;
	top: 2em;
}
.sexe{
	float: right;
}
.ste{
	float: right;
	margin-right: 2em;
}
.sexe{
	float: right;
	margin-right: 2em;
	margin-top: 2em;
}
.id{
	float: right;
	margin-right: 2em;
	margin-bottom: : 4em;
}
.race{
	float: right;
	margin-top: 6em;
	margin-right: -10em;
}
.age{
	margin-left: 12em;
	margin-top: -8em;
	font-size: 1.25em;
}
a:hover {
  background-color: gold;
}
li{
	display: inline;
}
.couleur{
	position: relative;
	top: 6em;
	left: 20em;
	width: 20em;
}