h2{
  text-align: center;
  color: #3773C7;
}
h1{
    text-align: center;
    color: #EB681F;
    font-size: 50px;
}    
#div{
    margin-left: 500px;
}
#img{
    margin-left: 520px;
    width: 200px;
    height: 200px;               
} 
.fo{
  padding: 16px 10px; 
}
input{
  margin-left: 75px;
}